@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "partials/colors";

$thin-toolbar-height: 2em;
$active-tab-color: rgb(237, 29, 36);

body.cities-light .nav-tabs {
    border-bottom: 1px solid #efefef;
    
    & > li {
        
        &.active {
            a {
                font-weight: bold;
                border-bottom: 2px solid $active-tab-color;
            }
            a:hover {
                background-color: inherit;
            }
        }
        
        a {
            background-color: inherit;
            border: none;
            font-weight: normal;
            border-bottom: 2px transparent;
            @include border-radius(0);
            margin-right: 0;
            text-align: center;
            
            .hyper {
                text-align: center;
                line-height: 36px;
            }
            .hypo {
                font-weight: bold;
                margin-top: -30px;
                line-height: normal;
                visibility: hidden;
                text-align:center;
            }
            
            &:hover {
                border-left: none;
                border-top: none;
                border-right: none;
            }
        }
        
        &:not(.active) a:hover {
            border-bottom: 2px solid lighten($active-tab-color, 40);
        }
        
        &:last-child {
            border-right: none;
        }
    }
}

body #tabs-navigation {
    max-width: 1140px;
    width: 100%;
    background-color: $film-roll-background;
    overflow: hidden;
    @include transition(height 0.4s ease-in-out);
    
    text-transform: uppercase;
    padding: 0;

    &.hide {
        height: 0;
    }

    ul {
        float: right;
        margin: 0;
        
        li {
            background-size: 100% 100%;
            background-repeat: no-repeat;

            width: 10em;
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.55);
            }
            
            a {
                padding: 0 1em;
                color: white;
                @include transition(background-color 0.2s ease-in-out, color 0.1s ease-in-out);
                line-height: $thin-toolbar-height;
                height: $thin-toolbar-height;
                font-weight: bold;
                
                &.active, &:hover {
                    background-color: rgba(204, 204, 204, 0.3);
                    color: black;
                }
            }
        }
    }
    
    &.thin {
        ul {
            
            li {
                width: auto;
                background-image: none !important;
            }
            a {
                &.active, &:hover {
                    background-color: rgba(255, 255, 255, 0.8);
                    color: black;
                }
            }
        }
    }
}
