@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "partials/colors";

#tabs-index {
    height: 8em;
    max-width: 100%;
    width: 100%;
    background-color: #444; // TO:VAR
    overflow: hidden;
    @include transition(height 0.4s ease-in-out);
    
    &.hide {
        height: 0;
    }
    
    ul {
        li {

        }
    }
    
    ul {
        height: 6em;
        li {
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 6em;
            color: black;
            background-color: rgba(255, 255, 255, 0.4); // TO:VAR
            width: 10em;
            height: 6em;
            margin-right: 1em;
            @include transition(background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out);
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.55);
                @include box-shadow(2px 0 1em #999);
            }
            
            a {
                // line-height: 10em;
                height: 100%;
                padding: 0.5em;
                // text-align: right;
                // opacity: 0.7;
                background-color: rgba(0, 0, 0, 0.3);
                color: white;
                text-shadow: #333 1px 1px;
                @include transition(background-color 0.4s ease-in-out);
                line-height: inherit;
                font-weight: bold;
                
                &.active, &:hover {
                    background-color: rgba(204, 204, 204, 0.3);
                    color: black;
                    text-shadow: #ddd 1px 1px;
                }
            }
        }
    }
    
    #tabmetromonitor {
        background-image: url('/images/tabs-index/metromonitor.gif');
    }
    #tabmr-vs-national {
        background-image: url('/images/tabs-index/trends.gif');
    }
    #tabresilience {
        background-image: url('/images/tabs-index/trends.gif');
    }
    #tabtypologies {
        background-image: url('/images/tabs-index/trends.gif');
    }
    
    &.thin {
        height: 3em;
        ul {
            height: 3em;
            
            li {
                height: 2.75em;
                width: auto;
                background-image: none !important;
            }
            a {
                &.active, &:hover {
                    background-color: rgba(255, 255, 255, 0.8);
                    color: black;
                    text-shadow: #ddd 1px 1px;
                }
            }
        }
    }
}
