@import "susy";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "partials/fonts";

@mixin narrative-font {
    font-size: 1.25em;
    line-height: 1.5em;
    font-family: $serif-font;
}

.hide-initially {
    display: none !important;
}

.container .flexslider {
    margin-bottom: 2em;
    @include box-shadow(none);
    border: none;
}

.visualization {
    .about-this-chart {
        @include narrative-font;
        max-width: 75%;
        
        &.side {
            max-width: inherit;
        }
    }
    
    h1 {
        font-size: 1.5em;
    }
    .keys {
        font-size: 0.875em;
        
        h1 {
            line-height: inherit;
        }
        
        .dl-horizontal {
            dt {
                width: auto;
                margin-right: 1em;
            }
            dd {
                margin-left: auto;
            }
        }
        
        dl:not(.dl-horizontal) {
            dt {
                margin-top: 1em;
            }
        }
        
        dd {
            @include transition(background-color 0.2s ease-in-out);
        }
        
        dt.focus + dd {
            background-color: rgba(174, 199, 232, 0.3);
            @include transition(none);
        }
        
        /*dt.active::before {
            content: '+';
            color: attr(data-legendcolor);
        }*/
        dt svg {
            height: 20px;
            width: 20px;
            display: inline;
            vertical-align: bottom;
        }
        dt.disabled circle {
            fill-opacity: 0;
        }
    }
    
    .notes {
        @include span(last 4 of 4);
        
        .key-findings {
            @include narrative-font;
        }
    }
}

.container svg text {
    font-family: $sans-font;
}

.legend-interactivity-hints {
    span {
        float: right;
        font-size: 0.875em;
    }
}
