@import "susy";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "partials/colors";

.focus#chart {
    .cta {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        
        span {
            background-color: $map-overlay-background;
            color: white;
            font-weight: bold;
            padding: 0.5em;
            @include border-radius(0.25em);
        }
    }
    
    &:hover .cta {
        span {
            display: none;
        }
    }
}

.map {
    .focus svg {
        height: 38em;
    }
}
