@import "susy";

.performance-history {
  @include container();
}

#linechart {
    @include span(12 of 12);
    margin-top: 2em;
    height: 40em;
        
    svg {
        width: 100%;
        height: 100%
    }
}

#piechart {
  @include container();
  
  .chart {
    @include span(4 of 12);
    
    h4 {
      text-align: center;
    }
  }
  
  .chart:last-child {
    @include span(last 4 of 12);
  }
  
  svg {
    widht: 100%;
    height: 36rem;
    
    & > g {
      transform: translateY(-20px);
    }
  }
}

