@import "susy";

.visualization#mrvnational20022007, .visualization#mrvnational20082012 {
    .core {
        .chart svg {
            height: 48em;
            
            .nv-legendWrap {
                // display: none;
            }
        }
    }
}
