@import "susy";

.visualization#sector-hvas, .visualization#sector-manufacturing, .visualization#sector-paeh, .visualization#sector-rt {
    .core {
        .chart svg {
            .nv-y .nv-axis .tick:nth-child(4) line, .nv-x .nv-axis .tick:nth-child(3) line {
                stroke-opacity: 0.5;
                stroke-width: 2;
            }
        }
    }
}
