@import "susy";

.visualization#city-types, .visualization#population, .visualization#absolute-gva, .visualization#gva-per-capita, .visualization#capitals,{
    .core {
        .chart svg {
            .nv-legendWrap {
                // display: none;
            }
        }
    }
}
