%div{ :class => (defined?(hide_initially) and hide_initially) ? 'legend-interactivity-hints hide-initially' : 'legend-interactivity-hints' }
  -# %span Double-click on coloured dot to show only selected series or single-click to toggle series.
  %span Click on coloured dots above the chart to toggle associated series.
