%h1 Unfortunately your browser cannot display this website.
%p Please update to one of the following:
%ul.text
    %li Chrome (<a href="http://www.google.com/chrome">download latest version</a>)
    %li Firefox (<a href="http://www.firefox.com/">download latest version</a>)
    %li Safari (<a href="http://www.apple.com/safari/">download latest version</a>)
    %li Opera (<a href="http://www.opera.com/">download latest version</a>)
    %li Internet Explorer 10 (<a href="http://windows.microsoft.com/ie">download latest version</a>)
%p If you are using an older version of Internet Explorer, you can also use Google's Chrome Frame to use this application without downloading a new browser. <a href="http://www.google.com/chromeframe/?redirect=true">Click here to use Chrome Frame</a>.
