%h1 Impact of the crisis on EU cities according to:
%ul.nav.nav-tabs#myTab
    %li.active
        %a{ :href => "#city-types" }
            = tab_label('City types')
    %li
        %a{ :href => "#population" }
            = tab_label('Population')
    %li
        %a{ :href => "#absolute-gva" }
            = tab_label('Absolute GVA')
    %li
        %a{ :href => "#gva-per-capita" }
            = tab_label('GVA per capita')
    %li
        %a{ :href => "#capitals" }
            = tab_label('Capital city status')
.tab-content#page-city-types
    .tab-pane.active.visualization#city-types
        .about-this-chart This chart positions metropolitan regions according to the sum of the annual growth rates of Employment and GVA for the 2008 to 2014 period. Metropolitan regions in the upper right hand quadrant have seen high GVA and Employment growth rates over the recession period. Metropolitan regions are coloured according to the typology they have been assigned in the <a href='http://ec.europa.eu/regional_policy/sources/docgener/studies/pdf/urban/state_exec_en.pdf'>2010 State of European Cities Report</a>.
        .core
            .chart
                %svg
                .notes
                    .key-findings
                        %ul
                            %li A majority of the Leading European Capitals and Metropolises have either had stagnant or positive GVA and Employment growth rates since 2008. This is the city type with the clearest clustering in the top right corner, perhaps indicating an advantage to cities that are larger and better positioned in the global economy.
                            %li The wide variety of performances of National Capitals and Metropolises reflects the wider European situation, with Eastern European cities in the top right quadrant.
                            %li Some of the city types are heavily skewed towards cities in a particular country (i.e. German cities for Leading European Capitals and Metropolises, Spanish cities for Smaller Centres with Growing Populations, etc.) and this raises some doubts about the utility of this typology for European wide comparisons.
            .extras
                .keys
                    %dl.dl-horizontal
                        %dt{ :data => { :key => 'A1' } } A1
                        %dd Leading European Capitals and Metropolises
                        %dt{ :data => { :key => 'A2' } } A2
                        %dd National Capitals and Metropolises
                        %dt{ :data => { :key => 'B1' } } B1
                        %dd Regional Service Centres
                        %dt{ :data => { :key => 'B2' } } B2
                        %dd Regional Innovation Centres
                        %dt{ :data => { :key => 'B3' } } B3
                        %dd Regional Centres with Growing Population
                        %dt{ :data => { :key => 'C1' } } C1
                        %dd Smaller Administrative Centres
                        %dt{ :data => { :key => 'C2' } } C2
                        %dd Smaller Centres with Growing Population
                        %dt{ :data => { :key => 'D1' } } D1
                        %dd Cities in the Process of Structural Adaption
                        %dt{ :data => { :key => 'D2' } } D2
                        %dd Less developed towns and cities
                        %dt{ :data => { :key => 'NN' } } NN
                        %dd Other cities
                    = render 'shared/legend_interactivity_hints'
    .tab-pane.visualization#population
        .about-this-chart This chart positions metropolitan regions according to the sum of the annual growth rates of Employment and GVA for the 2008 to 2014 period. Metropolitan regions in the upper right hand quadrant have seen high GVA and Employment growth rates over the recession period. Metropolitan regions are coloured according to their population size classes in 2007. 
        .core
            .chart
                %svg
                .notes
                    .key-findings
                        %ul
                            %li All five European metropolitan regions with over 10 million inhabitants in 2007 had positive GVA and Employment growth rates over the 2008 to 2014 period.
                            %li If all cities of over three million inhabitants are looked at together, it becomes apparent that a majority of them are in or very near the top right quadrant.
                            %li In contrast, there is a much larger variety of performances in the case of all cities smaller than three million inhabitants with roughly as many in the top right quadrant as in the other quadrants.
                            %li This seems to indicate an advantage to cities with larger populations during the crisis and recovery.
            .extras
                .keys
                    %dl.dl-horizontal
                        %dt{ :data => { :key => '1' } } 1
                        %dd Metropolitan Population is more than 10 million inhabitants
                        %dt{ :data => { :key => '2' } } 2
                        %dd Metropolitan Population is between 5 million and 10 million inhabitants
                        %dt{ :data => { :key => '3' } } 3
                        %dd Metropolitan Population is between 4 million and 5 million inhabitants
                        %dt{ :data => { :key => '4' } } 4
                        %dd Metropolitan Population is between 3 million and 4 million inhabitants
                        %dt{ :data => { :key => '5' } } 5
                        %dd Metropolitan Population is between 2 million and 3 million inhabitants
                        %dt{ :data => { :key => '6' } } 6
                        %dd Metropolitan Population is between 1 million and 2 million inhabitants 
                        %dt{ :data => { :key => '7' } } 7
                        %dd Metropolitan Population is between 500,000 and 1 million inhabitants
                        %dt{ :data => { :key => '8' } } 8
                        %dd Metropolitan Population is less than 500,000
                    = render 'shared/legend_interactivity_hints'
    .tab-pane.visualization#absolute-gva
        .about-this-chart This chart positions metropolitan regions according to the sum of the annual growth rates of Employment and GVA for the 2008 to 2014 period. Metropolitan regions in the upper right hand quadrant have seen high GVA and Employment growth rates over the recession period. Metropolitan regions are coloured according to their absolute GVA size. 
        .core
            .chart
                %svg
                .notes
                    .key-findings
                        %ul
                            %li The majority of the European metropolitan regions looked at here have economies weighing between €25bn to €50bn. There is no clear clustering of cities in this category in any of the four quadrants, a likely reflection of the variety of national level experiences during the crisis and recession.
                            %li The five European metropolitan regions with the largest economies in 2007 all are in the top right quadrant, another indication that larger cities have been better able to deal with the crisis and its aftermath.
                            %li Two other groups of cities that tend to show some clustering in the top right quadrant are those with economies weighing between €100bn to €150bn and those with economies weighing between €50bn to €80bn. This complicates the idea that the largest economies have been better able to respond to the crisis.
            .extras
                .keys
                    %dl.dl-horizontal
                        %dt{ :data => { :key => '1' } } 1
                        %dd Metropolitan GVA is more than €200bn
                        %dt{ :data => { :key => '2' } } 2
                        %dd Metropolitan GVA is between €150bn and €200bn
                        %dt{ :data => { :key => '3' } } 3
                        %dd Metropolitan GVA is between €100bn and €150bn
                        %dt{ :data => { :key => '4' } } 4
                        %dd Metropolitan GVA is between €80bn and €100bn
                        %dt{ :data => { :key => '5' } } 5
                        %dd Metropolitan GVA is between €50bn and €80bn
                        %dt{ :data => { :key => '6' } } 6
                        %dd Metropolitan GVA is between €25bn and €50bn
                        %dt{ :data => { :key => '7' } } 7
                        %dd Metropolitan GVA is between €10bn and €25bn
                        %dt{ :data => { :key => '8' } } 8
                        %dd Metropolitan GVA is less than €10bn
                    = render 'shared/legend_interactivity_hints'
    .tab-pane.visualization#gva-per-capita
        .about-this-chart This chart positions metropolitan regions according to the sum of the annual growth rates of Employment and GVA for the 2008 to 2014 period. Metropolitan regions in the upper right hand quadrant have seen high GVA and Employment growth rates over the recession period. Metropolitan regions are coloured according to the extent to which they have GVA per capita figures that are higher or lower than national averages in 2007.
        .core
            .chart
                %svg
                .notes
                    .key-findings
                        %ul
                            %li With the exception of Riga, all cities that much were much wealthier than the national average in 2007 (metropolitan GVA per capita is more than 150% of national GVA per capita) saw positive employment growth between 2008 and 2014. Most of these cities also had positive GVA growth rates. It is striking that the majority of these cities are found in Eastern Europe. This advantage to cities that were already doing better in their national contexts is also evident in cities where metropolitan GVA per capita is between 125% and 150% of national GVA per capita.
                            %li Most of the metropolitan regions that were poorest relative to their national contexts in 2007 (those with less than 80% of the national GVA per capita) experienced negative GVA and Employment growth rates during the recession.
                            %li The performance of cities in the other groups varies much more widely.
                            %li Overall, it seems as though cities that were richer than the national average in 2007 tended to do better during the crisis and its aftermath, while those that were poorest in their national context tended to do worst. This situation may exacerbate the distance between the richest and the poorest cities in each national context.
            .extras
                .keys
                    %dl.dl-horizontal
                        %dt{ :data => { :key => '1' } } 1
                        %dd Metropolitan GVA per capita is more than 150% of national GVA per capita
                        %dt{ :data => { :key => '2' } } 2
                        %dd Metropolitan GVA per capita is between 125% and 150% of national GVA per capita
                        %dt{ :data => { :key => '3' } } 3
                        %dd Metropolitan GVA per capita is between 100% and 125% of national GVA per capita
                        %dt{ :data => { :key => '4' } } 4
                        %dd Metropolitan GVA per capita is between 80% and 100% of national GVA per capita
                        %dt{ :data => { :key => '5' } } 5
                        %dd Metropolitan GVA per capita is between 66.3% and 80% of national GVA per capita
                        %dt{ :data => { :key => '6' } } 6
                        %dd Metropolitan GVA per capita is less than 66.3% of national GVA per capita
                    = render 'shared/legend_interactivity_hints'
    .tab-pane.visualization#capitals
        .about-this-chart This chart positions metropolitan regions according to the sum of the annual growth rates of Employment and GVA for the 2008 to 2014 period. Metropolitan regions in the upper right hand quadrant have seen high GVA and Employment growth rates over the recession period. Metropolitan regions are coloured according to whether or not they are the administrative capital of their respective country.
        .core
            .chart
                %svg
                .notes
                    .key-findings 
                        %ul
                            %li The economic performance of capital cities is very varied, a reflection of the differences in national performance in the crisis. Capital cities seem to follow the general distribution of cities according to GVA and Employment growth during the crisis.
                            %li Capital city status does not seem to confer any particular economic advantages to metropolitan regions.
            .extras
                .keys
                    %dl.dl-horizontal
                        %dt{ :data => { :key => '0' } } 0
                        %dd Non-capital city
                        %dt{ :data => { :key => '1' } } 1
                        %dd Capital city
                    = render 'shared/legend_interactivity_hints'
