%h1 Contacts
.entry-content
    %p We invite comments on our approach and suggestions on how to best monitor the impact of the post 2008 economic recession on EU cities.
    %p Please send your comments to <a href="mailto:lse.cities@lse.ac.uk">lse.cities@lse.ac.uk</a>
    %h1 Project team
    %ul
        %li
            %a{:href => "https://lsecities.net/about/whos-who/centre-staff/#p-burdett-ricky"}> Ricky Burdett
            , Centre director
        %li
            Andrea Colantonio, Project director
        %li
            Anne Marie Brady, Researcher
        %li
            Kerwin Datu, Research officer
        %li
            Antoine Paccoud, Research officer
        %li
            %a{:href => "https://lsecities.net/about/whos-who/centre-staff/#p-rota-andrea"} Andrea Rota
            , Researcher, data visualisation
