.slider
    #slidetile-lessons-from-previous-crises.tile.twotiles.tall
        %a{:href => url_for({ :action => 'lessons' })}
            .crop
                %img{:src => "https://files.lsecities.net/files/2013/02/barcelona.jpg"}/
            .feature-info.noblurb
                .feature-key-info
                    %div
                        .feature-title Lessons from previous crises
                        .feature-caption Case studies from Barcelona, Munich, Turin and policy lessons from EU and Asian cities
    #slidetile-cities-crisis-map-1.tile.twotiles.tall
        %a{:href => url_for({ :action => 'metromonitor' })}
            .crop
                %img{:src => "https://files.lsecities.net/files/2013/05/emm2013.gif"}/
            .feature-info.noblurb
                .feature-key-info
                    %div
                        .feature-title MetroMonitor
                        .feature-caption An interactive exploration of the response of European cities to the crisis
    #slidetile-european-metromonitor.tile.onetile.last.tall.introbox
        .tall.introbox
            .inner-box
                %h1 European Metromonitor
                %div
                    The
                    %em European Metromonitor
                    project draws on LSE Cities' current research on the economic resilience of European Cities in order to establish an interactive exchange platform for the dissemination of key findings and case studies relating to metro-level responses to the economic crisis.
                    
                    The platform aims to engage EU city leaders, policy makers, practitioners, researchers, the third sector and the public through an interactive dialogue that synergistically explores best responses and adaptation strategies of cities to the crisis.
