%h1 Lessons from previous crisis
.entry-content
    %p The combination of the 1970s oil crisis and the opening up of regional markets to global trade in the 1980s and 1990s led to a profound restructuring of local production systems that had previously driven European industrial and economic expansion for almost a century. As a result, cities that were once the economic and political hubs of their respective regions and the drivers of their nation’s development faced a period of steep economic and social decline. These cities were faced with a new set of challenges. The legacy of cities ‘old economy’, the economic niche they occupied within the global division of labour and the unfolding of the ‘new economy’ were challenged by rapid technological change, globalisation and the emergence of high-tech, service and knowledge industries.
    %p It is within this context that in 2010 LSE Cities carried out research to examine comparative patterns of decline, adaptation and recovery of a range of EU Metropolitan Regions that have successfully managed to transform their economies during the last major economic crisis to befall Europe since the 1970s and 1980s.
    %p Conducted in collaboration with the Brookings Institution, the main objective of the research project is to illustrate successful examples of economic transformation that can be used by city leaders, policy makers and practitioners to stimulate debate about the transfer of innovative ideas and approaches needed to rebalance post-recession economies.
    %p Three cities have been identified for the study as exemplar models of transformation. These include Munich (Germany), Torino (Italy) and Barcelona (Spain). The findings of our research will be presented in the forthcoming publication entitled ‘Transforming Urban Economies. Policy lessons from European and Asian cities’ to be published by Routledge in 2013.
    %p Munich, Torino and Barcelona each tell a distinct story about the next urban economy; none have been perfectly successful, but each has made decisive progress, out-performed their peers and created opportunities for future growth, trade and job creation. The experience of many metropolitan areas underpins and reinforces what US cities and many other cities elsewhere already know and have taken a lead on: economic growth stems from primary importance being placed on a good business climate and environment for investment; the need for connectivity and productive infrastructure; an essential entrepreneurial spirit and corporate presence that provides the backbone of a dynamic economy; and a depth and range of anchor institutions.
    %p In addition to these lessons, now we have key insight into what makes EU cities economically dynamic that, in turn, builds on our prior knowledge of the policy platform that allowed EU cities to overcome previous periods of crisis. These are:
    %ul
        %li Active, aligned and intentional partnership with government, private sector and institutions;
        %li Internationalisation, global positioning and trade;
        %li Knowledge economy, innovation-based entrepreneurship and modernisation of manufacturing;
        %li Strong link between human capital and attractive, distinctive cities; and
        %li Green economy, resource efficiency and decarbonisation.
    %p
        An in-depth analysis coupled with empirical examples of these policy lessons from previous crisis, which was presented at the 2010 Global Metro Summit in Chicago
        = succeed "." do
            %a{:href => "https://files.lsecities.net/files/2013/04/Policy-Lessons.pdf", :onclick => "javascript:_gaq.push(['_trackEvent','download','http://files.lsecities.net/files/2013/04/Policy-Lessons.pdf']);"} can be downloaded here
