.entry-content
    %h1 Methodology and data sources
    %p The European Metromonitor uses Oxford Economics’ <a href="http://www.oxfordeconomics.com/forecasts-and-models/cities/european-cities-and-regional-forecasts/overview">European Cities and Regional Forecasts database</a>. This database provides economic indicators at the NUTS3 level for all countries in the European Union, Norway and Switzerland as well data at the NUTS2 level for Russia and Turkey. A NUTS region (or Nomenclature of Territorial Units for Statistics) is a European Union geocoded standard for referencing the administrative subdivisions of countries for statistical purposes. NUTS3 regions have a minimum population of 150,000 and maximum population of 800,000, while for NUTS2 regions these values are respectively 800,000 and 3 million. NUTS3 regions are the smallest spatial scale for which Eurostat provides standardised statistical data.
    %p The metropolitan regions featured in the interactive maps and graphics have been constructed from NUTS3 regions based on the findings of ESPON's (2007) Study on Urban Functions. This study presents estimations of metropolitan region populations in Europe based on analysis conducted at a very fine spatial level. Where possible, the study also indicates which NUTS3 regions can be used to proxy the metropolitan regions. This is possible when the NUTS3 region (or collection of NUTS3 regions) serving as a proxy for the metropolitan region is less than twice the population size of the metropolitan region. In these cases, it is possible to say that the NUTS3 envelope is a reasonable fit to the total spatial extent of the city under consideration (using population as a measure of this fit).
    %p Cities were selected for the European Metromonitor on the basis of their population size within their national context. The aim was to include all the largest metropolitan regions in each national context. Cities were included in descending population size until the use of NUTS3 regions to proxy their metropolitan region became impossible. This occurs when the NUTS3 region that surrounds the metropolitan region is so large that it can no longer serve as a reasonable proxy for it (i.e. it is more than twice the size of the metropolitan region given by the ESPON study). This is a limitation emerging from the very different ways in which European countries administratively organise their territories: some have NUTS3 regions that quite tightly envelope cities (Germany, UK, Poland, etc) which leads to NUTS3 regions of varying sizes over their territories, while others have favoured NUTS3 regions of roughly equal size over their whole territory (France, Italy, Spain, etc) which means that second tier cities may be lost within large NUTS3 regions.
    %p This has limited the extent to which all large European cities could be represented in our maps and graphics. The following large metropolitan regions from the ESPON study (over 250,000 inhabitants) could not be included because the NUTS3 regions surrounding them were too large: Innsbruck, Klagenfurt, Mons-Borinage, Brugge, Plzen, Aalborg, Angers, Avignon, Dijon, Brest, Le Havre, Le Man, Reims, Dunkerque, Amiens, Magdeburg, Koblenz, Erfurt, Wurzburg, Heilbronn, Lubeck, Gottingen, Ingolstadt, Paderborn, Rostock, Oldenburg, Siegen, Kaiserslautern, Giessen, Cagliari, Brescia, Salerno, Pescara, Modena, Reggio nell’Emilia, Parma, Vicenza, Messina, Udine, Kielce, Rzeszow, Radom, Opole, Tarnow, Galati, Craiova, Palma de Mallorca, Cadiz, Santa Cruz de Tenerife, Donostia-San Sebastian, La Coruna, Tarragona, Cordoba, Pamplona, Castellon de la Plana, Stoke, Blackburn/Burnley, Norwich, Preston, Plymouth, Blackpool, Northampton, Cambridge, Milton Keynes, Swindon, Exeter.
    %p For Russia and Turkey, data was only available at the NUTS2 level. Only the largest metropolitan regions in these countries were reasonably proxied by a NUTS2 region. This means that most of the large metropolitan regions in these two countries cannot be studied here (i.e. Novosibirsk, Yekaterinburg, Samara, Omsk, Kazan, Chelyabinsk, Rostov-on-Don, Ufa, Volgograd, Perm, Krasnoyarsk, Voronezh, Saratov, Krasnodar, Izmir, Bursa, Adana, Gaziantep, Konya, Antalya).
    %p The next phase of the European Metromonitor will be to move from a focus on metropolitan regions to one on regions more generally. This should allow us to capture a much wider range of experiences by establishing categories of NUTS3 regions: those that proxy metropolitan regions (tier 1 and those currently featured in the maps and graphics), those that contain large metropolitan regions and other types of fabric (tier 2), those that contain smaller metropolitan regions and other types of fabric (tier 3) and those that are predominantly rural in character (tier 4).
    %p Lefkosia and Valetta were not included because the data source only provides national level data. The other countries in the larger European space could not be included due to data limitations (i.e. Belarus, Republic of Moldova, Ukraine, Iceland, Albania, Bosnia and Herzegovina, Croatia, Montenegro, Serbia, TFYR Macedonia).
