.visualization#metromonitor
    .core
        .map-area
            .map
                #leaflet-map
                = render 'layouts/map-indicators'
                = render 'layouts/map-legend'
                .cta.disposable-text
                    %span
                        Click on any city to start exploring data
            .legend-extras
                For more information on data sources and data selection, see the
                %a{ :href => url_for(:action => 'methods') } methodology and data sources
                page.
            .timeseries-container
                #slider
                #slider-steps.wide
        .city-profile
            .about-this-chart.side.disposable-text
                %p The global financial crisis of the late 2000s precipitated an economic downturn of such magnitude and reach that many now refer to the period as the “Great Recession”. According to the International Monetary Fund, global economic output, which had grown at an annual rate of 3.2 percent from 1993 to 2007, actually shrank by 2 percent from 2008 to 2009.
                %p Aggregate views of the global economy, however, mask the distinct experiences of its real hubs — major metropolitan areas. Metro areas, which are economically integrated collections of cities, suburbs, and often surrounding rural areas, are centres of high-value economic activity in their respective nations and worldwide. And because metros form the fundamental bases for national and international economies, understanding their relative positioning before, during, and after the Great Recession provides important evidence on emerging shifts in the location of global economic resilience and future growth.
                %p The Euro MetroMonitor examines data on economic output and employment in over 150 of Europe’s largest metropolitan economies, from 1996 to 2014.
                %p The metropolitan regions are aggregations of Eurostat's NUTS3 regions based on the findings of ESPON's (2007) <a href="http://www.espon.eu/export/sites/default/Documents/Projects/ESPON2006Projects/StudiesScientificSupportProjects/UrbanFunctions/fr-1.4.3_April2007-final.pdf">Study on Urban Functions</a>.
            .city-info.hide-initially
                #city-id
                .city
                    .info
                        %h1 &nbsp;
                        .cities &nbsp;
                        .population
                        .performance
                .comment
                .time-series
                    .ts
                        %h4 &nbsp;
                        %svg.canvas
.performance-history
    #linechart.chart.hide-initially
        = render 'shared/legend_interactivity_hints', :hide_initially => true
        %svg
#piechart.hide-initially
    %h3 Sector weight
    %p Hover over sectors to show details
    .chart.sector-percent.initial
        %h4 1998
        %svg
    .chart.sector-percent.crisis
        %h4 2007
        %svg
    .chart.sector-percent.final
        %h4 2014
        %svg
