%h1 Metropolitan regions in the national context
%ul.nav.nav-tabs#myTab
    %li
        %a{ :href => "#mrvnational20022007" }
            = tab_label('2002-2007')
    %li.active
        %a{ :href => "#mrvnational20082014" }
            = tab_label('2008-2014')
.tab-content#mrvnational
    .tab-pane.visualization#mrvnational20022007
        .about-this-chart This chart assigns metropolitan regions a position according to their average annual growth over the period (vertical axis) and to the average annual growth rate of their respective country for the same period (horizontal axis). Metropolitan regions are sized by population and coloured according to the country in which they are located.
        .core
            .chart
                %svg
                .notes
                    .key-findings
                        %p What is immediately noticeable on this chart is that there are wide discrepancies across national contexts. The highest national growth rates in this period could be found in the Baltic States and Russia (over 7% annually). Very high GVA growth rates were also the norm in Bulgaria, Romania, Slovakia and Turkey (between 6 and 7% annually) and high growth rates in the Czech Republic, Ireland, Slovenia, Poland and Greece (between 4% and 6% annually). Most countries experienced GVA growth rates between 1.5 and 4% annually. The lowest GVA growth rates during the period were in Portugal, Italy and Germany (between 1 and 1.5% annually).
                        %p Another striking fact concerns the wide differences in terms of GVA annual growth rates within national contexts. These differences are most pronounced for Bulgaria, Romania, Poland, Italy and Germany. In these countries, there are differences of at least four percentage points annually in GVA growth rates between their different metropolitan regions. In general, this seems to show that metropolitan regions are responding very differently to the same national macroeconomic contexts. With respect to population size, two types of national patterns can be seen. In some national contexts like the Netherlands or Poland, the largest metropolitan region exhibits the highest annual growth rate. In others, like Germany, France, the UK or Italy, the largest metropolitan region can be found towards the middle of metropolitan performance.
            .extras
                .keys
                = render 'shared/legend_interactivity_hints'
    .tab-pane.active.visualization#mrvnational20082014
        .about-this-chart This chart assigns metropolitan regions a position according to their average annual growth over the period (vertical axis) and to the average annual growth rate of their respective country for the same period (horizontal axis). Metropolitan regions are sized by population and coloured according to the country in which they are located.
        .core
            .chart
                %svg
                .notes
                    .key-findings
                        %p In the recession period, the two characteristics identified for the 2002-2007 period still hold: there is still a wide discrepancy between European countries in terms of annual GVA growth rates and there is still wide variation in growth rates within the countries themselves.
                        %p What is immediately visible here is that national contexts are crucial to understanding the GVA performance of particular metropolitan regions during the recession period. Metropolitan regions in Greece, Italy, Portugal, Ireland and Spain (among others) are all suffering from the problems faced by the countries in which they are located. At the other extreme is the very strong performance of the Polish cities. This highlights the difficulty inherent in attempting to find explanations for metropolitan performance that cut across national contexts when the influence of the national context is so important.
                        %p The persistence of intra-national variation in recession period annual GVA growth rates does however point to different metropolitan responses to the recession. The example of London is striking here. While it was in the average of metropolitan performances between 2002 and 2007, it now outperforms all other UK cities (with the exception of Aberdeen that is pulled up by the energy industry). In general, the variations between cities in the same national context seem to have been exacerbated by the crisis. Is this variation the result of policies taken at the metropolitan level? Is it a consequence of regional differences in wealth or economic structure with historical origins? Or are the performances of cities themselves driving national GVA growth?
            .extras
                .keys
                = render 'shared/legend_interactivity_hints'
