%h1 Three ways of measuring resilience
-# %ul.nav.nav-tabs#myTab
    %li.active
        %a{ :href => "#resilience" }
            = tab_label('Resilience')
.tab-content
    .tab-pane.active.visualization#resilience
        -# %h1 Resilient cities
        .about-this-chart This chart assigns metropolitan regions a position depending on their performance on two distinct measurements of resilience (see below for full explanation), Resilience 2 (R2) and Resilience 3 (R3), and assigns them a colour that corresponds to their performance on the resilience measurement Resilience 1 (R1).
        .core
            .chart
                %svg
                .notes
                    .key-findings 
                        %ul
                            %li There are very few metropolitan regions on the right hand side of the chart (with a positive value on the horizontal axis). This is a reflection of the fact that a large majority of metropolitan regions have seen their GVA and Employment rates deeply affected by the recession. Only a limited number of them have managed to maintain or slightly improve on the 2002-2007 period.
                            %li There are about as many metropolitan regions above as there are below the horizontal axis of the chart. This indicates that metropolitan regions do not seem to have enjoyed a particular advantage over the rest of their national contexts during the 2008 to 2014 period. 
                            %li Metropolitan regions that have good performances on R1 tend to cluster to the right and the top of the chart. These are metropolitan regions that have seen high GVA and Employment growth rates over the period. The chart shows that this is usually accompanied by a good performance on R3, i.e. GVA and Employment growth rates that are better than their national contexts.
                            %li This chart is an attempt to complicate the idea of the resilience of a city during a crisis by showing that different indicators have a strong impact on whether a city is deemed to be resilient or not. For example, Sofia (in the top left corner of the chart) fares very well on R1 and R3 but catastrophically on R2 (it has lost close to 14% points of growth on average compared to its pre-crisis level). Can it still be considered resilient? What about Bialystok in the bottom right corner, which has grown by an enviable 2% between 2008 and 2014 but which fares badly on both R2 and R3?
            .extras
                .keys
                    %h1 Measuring resilience
                    %dl
                        %dt R1 - Ability to grow post-2008 recession
                        %dd The sum of the annual growth rates of Employment and GVA for the 2008 to 2014 period for each metropolitan region. This indicator tracks the economic performance of metropolitan regions during the crisis. It measures resilience as the ability to have high GVA and Employment growth rates despite the crisis.
                        %dt R2 - Difference between post-recession and pre-recession growth
                        %dd The sum of the differences between the annual growth rates of Employment and GVA for the 2008 to 2014 period and of the annual growth rates of the same indicators for the 2002 to 2007 period, for each metropolitan region. This indicator measures how different the GVA and Employment growth rates of metropolitan regions in the recession period are from their values over the 2002 to 2007 period. It thus assesses the resilience of a metropolitan region as the ability to maintain its historical GVA and employment growth rates despite the recession.
                        %dt R3 - Metropolitan vs national performance
                        %dd The sum of the differences between the metropolitan and national annual growth rates of GVA and Employment over the 2008 to 2014 period. This indicator gauges the degree to which a metropolitan region is over- or under-performing its national context. It measures the resilience of a metropolitan region as the ability to maintain its economic position within the national economy despite the recession. To make sure that large metropolitan regions do not affect national growth rates, metropolitan regions are taken out of the national total to calculate their score on this indicator.
