%h1 Sector groups
%ul.nav.nav-tabs#myTab
    %li.active
        %a{ :href => "#sector-hvas" }
            = tab_label('High value added sectors')
    %li
        %a{ :href => "#sector-manufacturing" }
            = tab_label('Manufacturing')
    %li
        %a{ :href => "#sector-paeh" }
            = tab_label('Public Administration, Education and Health')
    %li
        %a{ :href => "#sector-rt" }
            = tab_label('Retail and Transport')
.tab-content
    .tab-pane.active.visualization#sector-hvas
        .about-this-chart This group of broad economic sectors is composed of: Financial and Insurance Activities; Information and Communication; Professional, Scientific and Technical Activities; Real Estate Activities and Administrative and Support Services.
        .core
            .chart
                %svg
                .notes
                    .key-findings 
                        %ul
                            %li The aim of this chart is to see whether the relation of a city to High value added sectors (HVAs) affected its economic performance during the crisis and its aftermath. 
                            %li Cities in the top half of the chart were already specialised in HVAs before the crisis, while those in the bottom half were not. Neither of these two types of cities seems to have performed better than the other between 2008 and 2014.
                            %li Cities in the left hand side of the chart experienced a decrease in the share of HVAs in their metropolitan economies in the decade before the crisis, while those on the right hand side saw an increase in the share of HVAs in their economies in that period. Again, there is no clear advantage for one side or the other the chart.
                            %li The top right quadrant of the chart contains cities that were already specialised in HVAs and in which the share of those sectors continued to growth in the decade preceding the crisis. This quadrant seems to contain a majority of cities with positive GVA growth rates over 2008 to 2014, indicating that this type of city may have been in a better position to respond to the economic crisis.
            .extras
                .keys
                    %p The vertical axis displays the z-score of the location quotient for a metropolitan region’s share of HVAs in total GVA in 1998. If the number is above 0 then it means that a metropolitan region has share of HVAs that is above the average of the share of that sector for all metropolitan regions. Inversely, a negative number denotes a below average share of HVAs.
                    %p The horizontal axis displays the z-score of the average annual metropolitan growth rate of the share of HVAs in total GVA over the 1998 to 2007 period. A positive number denotes a growth rate of the share of HVAs that is above the average growth rate of that sector for all metropolitan regions. A negative number then signifies the metropolitan regions had a below average growth rate of share of HVAs.
                    %p The colour of the dots represents the annual average growth rate of GVA over the recession period (2008-2014).
    .tab-pane.visualization#sector-manufacturing
        .about-this-chart
        .core
            .chart
                %svg
                .notes
                    .key-findings 
                        %ul
                            %li The aim of this chart is to see whether the relation of a city to the manufacturing sector affected its economic performance during the crisis and its aftermath. 
                            %li Cities in the top half of the chart were already specialised in manufacturing before the crisis, while those in the bottom half were not. Neither of these two types of cities seems to have performed better than the other between 2008 and 2014.
                            %li Cities in the left hand side of the chart experienced a decrease in the share of manufacturing in their metropolitan economies in the decade before the crisis, while those on the right hand side saw an increase in the share of manufacturing in their economies in that period. Here, a clear advantage emerges to those cities which experienced an increase in the share of manufacturing in their economies in the decade preceding the crisis (on the right hand side). 
                            %li In particular, cities in the bottom right corner seem to have performed best on average during the crisis and its aftermath. These are all cities that were not really specialised in manufacturing in 1998 but in which the share of this sector grew between 1998 and 2007. 
                            %li A move towards manufacturing in the decade preceding the crisis thus seems to have offered some protection from the crisis.  
            .extras
                .keys
                    %p The vertical axis displays the z-score of the location quotient for a metropolitan region’s share of manufacturing in total GVA in 1998. If the number is above 0 then it means that a metropolitan region has share of manufacturing that is above the average of the share of that sector for all metropolitan regions. Inversely, a negative number denotes a below average share of manufacturing.
                    %p The horizontal axis displays the z-score of the average annual metropolitan growth rate of the share of manufacturing in total GVA over the 1998 to 2007 period. A positive number denotes a growth rate of the share of manufacturing that is above the average growth rate of that sector for all metropolitan regions. A negative number then signifies the metropolitan regions had a below average growth rate of share of manufacturing.
                    %p The colour of the dots represents the annual average growth rate of GVA over the recession period (2008-2014).
    .tab-pane.visualization#sector-paeh
        .about-this-chart
            %p This group of broad economic sectors is composed of: Public Administration and Defence; Education and Health and Social Work.
        .core
            .chart
                %svg
                .notes
                    .key-findings 
                        %ul
                            %li The aim of this chart is to see whether the relation of a city to the Public Administration, Education and Health (PAEH) sectors affected its economic performance during the crisis and its aftermath. 
                            %li Cities in the top half of the chart were already specialised in PAEH sectors before the crisis, while those in the bottom half were not. Neither of these two types of cities seems to have performed better than the other between 2008 and 2014.
                            %li Cities in the left hand side of the chart experienced a decrease in the share of PAEH sectors in their metropolitan economies in the decade before the crisis, while those on the right hand side saw an increase in the share of PAEH sectors in their economies in that period.
                            %li It does not seem as though the share of PEAH sectors in 1998 or the change in the weight of these sectors in the decade preceding the crisis had any discernible impact on the performance of cities between 2008 and 2014.  
            .extras
                .keys
                    %p The vertical axis displays the z-score of the location quotient for a metropolitan region’s share of PAEH in total GVA in 1998. If the number is above 0 then it means that a metropolitan region has share of PAEH that is above the average of the share of that sector for all metropolitan regions. Inversely, a negative number denotes a below average share of PAEH.
                    %p The horizontal axis displays the z-score of the average annual metropolitan growth rate of the share of PAEH in total GVA over the 1998 to 2007 period. A positive number denotes a growth rate of the share of PAEH that is above the average growth rate of that sector for all metropolitan regions. A negative number then signifies the metropolitan regions had a below average growth rate of share of PAEH.
                    %p The colour of the dots represents the annual average growth rate of GVA over the recession period (2008-2014).
    .tab-pane.visualization#sector-rt
        .about-this-chart
            %p This group of broad economic sectors is composed of: Whole and Retail Trade and Transportation and Storage.
        .core
            .chart
                %svg
                .notes
                    .key-findings 
                        %ul
                            %li The aim of this chart is to see whether the relation of a city to the Retail and Transport (R&T) sectors affected its economic performance during the crisis and its aftermath. 
                            %li Cities in the top half of the chart were already specialised in the R&T sectors before the crisis, while those in the bottom half were not. Neither of these two types of cities seems to have performed better than the other between 2008 and 2014.
                            %li Cities in the left hand side of the chart experienced a decrease in the share of the R&H sectors in their metropolitan economies in the decade before the crisis, while those on the right hand side saw an increase in the share of R&H sectors in their economies in that period.
                            %li It does not seem as though the share of the R&H sectors in 1998 or the change in the weight of these sectors in the decade preceding the crisis had any discernible impact on the performance of cities between 2008 and 2014.  
            .extras
                .keys
                    %p The vertical axis displays the z-score of the location quotient for a metropolitan region’s share of R&T in total GVA in 1998. If the number is above 0 then it means that a metropolitan region has share of R&T that is above the average of the share of that sector for all metropolitan regions. Inversely, a negative number denotes a below average share of R&T.
                    %p The horizontal axis displays the z-score of the average annual metropolitan growth rate of the share of R&T in total GVA over the 1998 to 2007 period. A positive number denotes a growth rate of the share of R&T that is above the average growth rate of that sector for all metropolitan regions. A negative number then signifies the metropolitan regions had a below average growth rate of share of R&T.
                    %p The colour of the dots represents the annual average growth rate of GVA over the recession period (2008-2014).
