$map-overlay-background: rgba(33,33,33,0.7);
$body-background: #f9f9f9;
$film-roll-background: #444;
$lsecities-red: #ed1d24;
$header-background-color: #f3f3f3;
$footer-background-color: $film-roll-background;
$palette-emp: #00c3c3;
$palette-gdp: #ffc000;
