@import "compass/css3/border-radius";
@import "partials/colors";
@import "susy";

#debate {
    clear: both;
    padding-top: 2em;
    @include span(3 of 4);
}

#disqus_thread {
    clear: both;
    padding: 2em;
    @include border-radius(0.5em);
    background: lighten($body-background, 1%);
}

