@import 'partials/fonts';

.flash {
  &.top {
    font-family: $kill-ie-font;
    font-size: 10px;
    font-weight: normal;
    color: #222;
    border-bottom: #ccc 1px solid;
    background: #fff1a8;
    text-align: center;
    border-left: 0px;
    border-right: 0px;
    padding: 7px 4px;
    border-top: 0px;
    font-weight: normal;
    
    span[role='link'] {
      color: #15c;
      cursor: pointer;
      text-decoration: underline;      
    }
  }
  
  &.chromeframe {
    a, a:link, a:active, a:hover, a:visited {
      color: #0000ff !important;
    }
  }
}
