@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "partials/colors";
@import "susy";

.slider {
  margin-top: 2em;
  
  .crop img {
    max-width: 100%;
  }
  
  .twotiles {
    @include span(20 of 50);      
  }
  .onetile {
    @include span(10 of 50);
    
    &.last {
      @include span(last 10 of 50);
    }
  }
  
  .tile {
    position: relative;
    font-size: 0.9em;
    line-height: 1.25em;
  }
  
  .feature-title {
    font-weight: bold;
  }
  
  .feature-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 0.5em;
    
    &:hover {
      opacity: 1;
    }
    
    a, a:active, a:visited, a:hover {
      color: white;
    }
  }
  
  .introbox h1 {
    font-weight: normal;
    line-height: 1.2em;
    border-bottom: 1px $lsecities-red solid;
    margin-bottom: 0.5em;
  }
}
