.intro.disposable-text
    %p The global financial crisis of the late 2000s precipitated an economic downturn of such magnitude and reach that many now refer to the period as the “Great Recession.” According to the International Monetary Fund, global economic output, which had grown at an annual rate of 3.2 percent from 1993 to 2007, actually shrank by 2 percent from 2008 to 2009.
    %p Aggregate views of the global economy, however, mask the distinct experiences of its real hubs — major metropolitan areas. Metro areas, which are economically integrated collections of cities, suburbs, and often surrounding rural areas, are centers of high-value economic activity in their respective nations and worldwide. And because metros form the fundamental bases for national and international economies, understanding their relative positioning before, during, and after the Great Recession provides important evidence on emerging shifts in the location of global economic resilience and future growth.
    %p The Euro MetroMonitor examines data on economic output and employment in 150 of Europe’s largest metropolitan economies, from 1995 to 2012.
.map
    #chart.europe
        .legend
            %ul#chartlegend
                %li -10%
                %li -5%
                %li 0
                %li 5%
                %li 10%
                %li No data
            #date_display current year: 2011
    .timeseries-container
        #slider
        #slider-steps.wide