// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require jquery-ui/slider
 */
@import "susy";
@include border-box-sizing;
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "partials/colors";
@import "partials/fonts";

$container-width: 1140px;
$container-min-height: 600px;
$container-style: magic;
$total-columns: 10;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$toolbar-height: 6em;

@mixin eumm-toolbars {
    float: left;
    margin: 0 2em 0 2em;
    list-style: none;
    list-style-image: none;
    
    li {
        float: left;
        color: white;
        
        a {
            display: block;
        }
        
        span {
            font-weight: 600;
            border-width: 3px 0 0 0;
            text-transform: uppercase;
            display: block;
            border-style: solid;
            border-color: transparent;
            padding: 0 1em;
            line-height: $toolbar-height * 1.066666667;
            text-shadow: 0 1px 0 black;
            cursor: pointer;
        }
        
        .fullscreen {
            cursor: pointer;
        }
    }
}
.container {
    // page acts as a container for our grid.
    @include container;
    
    // header and footer are full-width by default.
    header, footer { clear: both; }
    
    max-width: $container-width;
    
    #main {
        @include span(last 10 of 10);
    }
}
// ^^ end of grid setup ^^

// base settings 
body {

}
// ^^ end of base settings ^^

// our resets
a, a:active, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

li {
    line-height: inherit;
}

// ^^ end of our resets ^^

// main styles

body {
      background-color: $body-background;
}

body, .ui-widget {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

div, p, ul.text > li {
    & > a, & > a:active, & > a:hover, & > a:visited {
        color: #880000;
    }
}



#main {
    h1:first-child {
        font-size: 1.85em;
    }
}

header {
    background-color: $header-background-color;
    color: inherit;
    
    & > div {
        max-width: $container-width;
        margin-left: auto;
        margin-right: auto;
        padding-left: $gutter-width;
        padding-right: $gutter-width;
    }
    
    .title {
        float: left;
        position: relative;
        width: 65%;
        
        img {
            max-width: inherit;
        }
        
        & > div {
            position: absolute;
            bottom: 1em;
            left: 0;
        }
    }
    
    h2 {
        font-size: 1em;
        line-height: 1em;
    }
    
    .brand {
        font-size: 1em;
        font-weight: 900;
    }
    
    .beta {
        font-size: 0.5em;
        font-weight: 100;
    }

    ul {
        @include eumm-toolbars;
    }
    
    
    .tools {
        float: right;
        position: relative;
        width: 35%;
        
        .heif5-logo {
            zoom: 0.75;
            position: absolute;
            bottom: 1em;
            right: 0;
        }
    }
    
    .toolbar {
        min-height: $toolbar-height;
        height: $toolbar-height;
        @include border-top-left-radius(5px);
        @include border-top-right-radius(5px);
        background-color: transparent;
        color: black;
        
        & > div {
            height: $toolbar-height;
        }
    }
}

#unpack {
    position: relative;
    
    a {
        position: absolute;
        right: -150px;
        @include transform(rotate(90deg));
        @include transform-origin(0 0 0);
        top: 0;
        background-color: #999;
        padding: 0.2em 1em;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        @include transition(box-shadow 0.3s ease-in-out 0);
        
        &:hover {
            @include box-shadow(2px 0 1em #999);
        }
        
        &.active {
            background-color: #ffcc00;
        }
    }
}

.container {
    background-color: #fff;
    min-height: $container-min-height;
    padding-bottom: 2em;
}

footer {
    
    & > div {
        background: rgba(0,0,0,0.6);
        max-width: $container-width;
        margin-left: auto;
        margin-right: auto;
        padding: 0.2em 1em;
    }
       
    .partners {
        ul {
            list-style-type: none;
            margin: inherit;
            
            li {
                @include span(1 of 5 rtl);
                padding: 0.2em 0;
                
                &:nth-of-type(5n) {
                    @include span(1 of 5 rtl);
                }
            }
        }
        
        img {
          max-width: 100%;
        }
    }
    
}

#leaflet-map {
  width: 657px;
  height: 600px;
  
  & .leaflet-overlay-pane svg {
    width: auto;
    height: auto;
  }
}

.map-area {
    @include span(6 of 10);
}

.map {
    position: relative;
    
    .legend {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $map-overlay-background;
        padding: 0.5em;
    }
    
    #timeseries {
        display: none;
    }
    
    #date_display {
        float: right;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        padding: 0.3em 0.7em;
    }
    
    .cta {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        
        span {
            background-color: rgba(33, 33, 33, 0.7);
            color: #FFF;
            font-weight: bold;
            padding: 0.5em;
            border-radius: 0.25em;
        }
    }
    
    &:hover .cta {
        display: none;
    }
    
    .leaflet-tile-pane {
        opacity: 0.7;
    }
}

.timeseries-container {
    padding: 1em 1em;
    display: block;
    clear: both;
    margin-top: 2rem;
    
    & > div.ui-slider {
        font-size: 0.8em;
    }
    
    #slider {
        margin: 0 20px; // TODO: set this via D3 to avoid CSS and JS to drift
    }
    
    #slider-steps svg path.domain {
      display: none; // TODO: just don't generate the axis lines via D3
    }
}

.home.europeview {
    .map {
        @include span(last 12 of 12);
    
        #chart, #linechart {
            svg {
                background: rgba(170, 204, 255, 0.5);
                width: 100%;
                height: 36em;
            }
        }
    }
}

.visualization {
    &#metromonitor .core {
        margin-top: 1em;
    }
    
    h1:first-of-type {
        font-weight: normal;
    }
            
    .core {
        margin-top: 3em;

        .chart {
            @include span(3 of 4);
            svg {
                height: 32em;
            }
            margin-bottom: 2em;
        }
        
        .extras {
            @include span(last 1 of 4);
        }
    }
    
    .key-findings {
        line-height: 1.25em;
        
        ul {
            li {
                text-indent: -1em;
                line-height: inherit;
                list-style: none;
            }
            
            li:before {
                content: "―";
                position: relative;
                left: -5px;
            }
        }
    }
}

#chart, #leaflet-map {
    position: relative;
}

.indicators {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $map-overlay-background;
    
    ul {
        @include eumm-toolbars;
        float: right;
        height: 35px;
        
        li span {
            line-height: 37px;
        }
    }
    
    .indicator-emp {
        border-color: $palette-emp;
        
        &:hover, &.active {
            background-color: $palette-emp;
        }
    }
    
    .indicator-gdp {
        border-color: $palette-gdp;
        
        &:hover, &.active {
            background-color: $palette-gdp;
        }
    }
}

ul#chartlegend {
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 2em;
    
    $legend-item-width: 3em;
    
    li {
        float: left;
        display: block;
        height: 1.4em;
        width: $legend-item-width;
        text-align: center;
    }
    
    li:nth-child(1) {
        background-color: rgba(43, 131, 186, 0.5);
    }
    
    li:nth-child(2) {
        background-color: rgba(171, 221, 164, 0.5);
    }
    
    li:nth-child(3) {
        background-color: rgba(255, 255, 191, 0.5);
    }
    
    li:nth-child(4) {
        background-color: rgba(253, 174, 97, 0.5);
    }
    
    li:nth-child(5) {
        background-color: rgba(215, 25, 28, 0.5);
    }
    
    li:nth-child(6) {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        width: auto;
        padding: 0 0.5em;
        margin-left: $legend-item-width;
    }
}

.legend-extras {
    font-size: 0.75em;
}

.axis {
    shape-rendering: crispEdges;
    font-size: 0.5em;
}

.x.axis line {
    stroke: #fff;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}


.city-profile {
    @include span(last 4 of 10);
    
    #city-id {
        display: none;
    }
    
    .ranking {
        text-align: center;
        color: #333;
        // background-color: #666;
        margin-bottom: 2em;
        padding: 1em 0;    
        
        h3 {
            font-weight: 300;
        }
    
        .rank {
            font-weight: 900;
        }
    }
    
    .city {
    
        .info {
            @include clearfix;
            // background-color: #666;
            margin-bottom: 2em;
            // padding: 1em;
            // text-shadow: 1px 1px 1px #666;
            // opacity: 0.75;
            
            em {
                font-size: 1.5em;
                font-weight: bold;
                font-style: inherit;
            }
            
            h1 {
                color: #222;
                margin-bottom: 0 !important;
            }
            
            .cities {
                color: #222;
                font-weight: bold;
                clear: both;
                margin-bottom: 0.5em;
            }
        }
        
        .comment {
            margin-top: 1em;
        }
    }
  
    .time-series {        
        & > div {
            width: 100%;
            
            p {
                font-size: 0.8em;
            }
        }
    
        .ts svg {
            height: 20em;
            width: 100%;
            
            path.line {
                fill: none;
                stroke: #666;
                stroke-width: 2px;
            }
        }
    }
}

.chart {
    margin-bottom: 4em;
}

.entry-content {
    font-family: $serif-font;
    font-size: 1.2em;
    line-height: 1.5em;
    @include span(3 of 4);
    
    h1, h2, h3, h4, h5, h6 {
        font-family: $sans-font;
    }
    
    h1 {
        font-size: 1.25em;
    }
}
