%p Data set source: Oxford Economics, <a href="http://www.oxfordeconomics.com/forecasts-and-models/cities/european-cities-and-regional-forecasts/overview">European Cities And Regional Forecasts</a>, March 2013.
%p
    The European Metromonitor is an
    %a{:href => "https://lsecities.net/"} LSE Cities
    project, supported by the HEIF5 Knowledge Exchange fund at the
    = succeed "." do
        %a{:href => "http://lse.ac.uk/"} London School of Economics and Political Science
%p
    Data visualisation: <a href="http://d3js.org/">d3.js</a> with <a href="http://nvd3.org/">NVD3</a>.
