.indicators
    %ul#chartIndicators
        %li
            %a
                %span.indicator-emp.active Employment
        %li
            %a
                %span.indicator-gdp GVA
    #date_display
