%ul.slidee
    %li
        = link_to('Home', { :action => '/' }, { :class => ('active' if current_page?(:action => 'project')) })
    %li#tabmetromonitor
        = link_to("Interactive map" , { :action => 'metromonitor' }, { :class => ("active" if current_page?(:action => 'metromonitor')) })
    %li
        = link_to('Lessons from previous crises', { :action => 'lessons' }, { :class => ('active' if current_page?(:action => 'lessons')) })
    %li
        = link_to('Contacts', { :action =>  'contacts' }, { :class => ('active' if current_page?(:action => 'contacts')) })
