%ul.slidee
    %li
        = link_to('Home', { :action => '/' }, { :class => ('active' if current_page?(:action => 'project')) })
    %li#tabmetromonitor
        = link_to("Interactive map" , { :action => "metromonitor" }, { :class => ("active" if current_page?(:action => "metromonitor") or current_page?('/')) })
    %li#tabtypologies
        = link_to('Performance by city type', { :action => 'city-types' }, { :class => ('active' if current_page?(:action => 'city-types')) })
    %li#tabmr-vs-national
        = link_to('Metro vs National performance', { :action => "mr-vs-national" }, { :class => ('active' if current_page?(:action => 'mr-vs-national')) })
    %li#tabresilience
        = link_to('Resilience', { :action =>  'resilience' }, { :class => ('active' if current_page?(:action => 'resilience')) })
    %li#tabsectors
        = link_to('Sectors', { :action =>  'sectors' }, { :class => ('active' if current_page?(:action => 'sectors')) })
    %li
        = link_to('Methodology', { :action =>  'methods' }, { :class => ('active' if current_page?(:action => 'methods')) })
