.toolbar
    .title
        %div
            %h1
                =link_to image_tag('/images/eumm_logo_h1-only.png'), root_path
                %span.beta beta
            %h2
                = link_to "Cities and the economic recession since 2008", root_path
#tabs-navigation.thin
    - if /^\/eumm\/m\//.match(request.path)
        = render 'layouts/navigation_interactive'
    - else
        = render 'layouts/navigation_static'
