%ul#organizer-logos
  %li
    %a{:href => "https://lsecities.net/"}
      %img{:alt => "LSE", :src => "/images/logo_lsecities_nostrapline_white.png"}/
  %li
    %img{:alt => "HEIF5 Knowledge Exchange", :src => "/images/logo_heif5_bw-negative.png"}/
