!!!
%html
    %head
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title= content_for?(:title) ? yield(:title) : "European Metromonitor | LSE Cities"
        %meta{:content => content_for?(:description) ? yield(:description) : "The European Metromonitor project draws on LSE Cities' current research on the economic resilience of European Cities in order to establish an interactive online and physical exchange platform for the dissemination of key findings and case studies relating to metro-level responses to the economic crisis. The platform aims to engage EU city leaders, policy makers, practitioners, researchers, media organisations, the third sector and the public through an interactive dialogue that synergistically explores best responses and adaptation strategies of cities to the crisis.", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        %link{ :rel => 'stylesheet', :id => 'font-open-sans-css', :href => "//fonts.googleapis.com/css?family=PT+Serif|Open+Sans:400,300,800,300italic,400italic,800italic&#038" }
        %link{ :rel => 'stylesheet', :href => 'https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' }
        = javascript_include_tag "modernizr"
        = render 'layouts/analytics'
        = csrf_meta_tags
        = render 'layouts/browsehappy'
        = yield(:head)
    %body{:class => "#{controller_name} #{action_name} cities-light"}
        /[if IE]
            %p.flash.top.chromeframe
                You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to use this application.
            <script>$('#container').hide();</script>
        %header
            = render 'layouts/navigation'
            = render 'layouts/messages'
        #container.container
            #main{:role => "main"}
                = yield
            - if ['metromonitor', 'city-types', 'mr-vs-national', 'resilience'].include?(action_name)
                = render 'layouts/debate'
        / ! end of #container
        %footer
            .clearfix
                .partners
                    = render 'layouts/partners'
        = javascript_include_tag "https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js"
        = javascript_include_tag "application"
